@model IEnumerable<WebApplication6.Models.Events>

@{
    ViewBag.Title = "ListEvents";
}

<h2>ListEvents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cursuri.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profesori.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sali.Nume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cursuri.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesori.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sali.Nume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
