@model WebApplication6.Models.Curs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sunteti sigur/a ca doriti sa stergeti inregistrarea?</h3>
<div>
    <h4>Curs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCReq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCReq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoReq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoReq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesori.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesori.Nume)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
