@model WebApplication6.Models.Sala

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cladire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cladire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Echipament_Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Echipament_Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
